#header {
    height: 64px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}


.product-name {
    font-size: 14px;
    font-family: serif, cursive, sans-serif;
}

.product-price {
    font-size: 16px;
    font-weight: 600;
    margin-top: 4px;
    font-family: serif, cursive, sans-serif;
}