* {
  margin: 0;
  padding: 0;
}

#header {
  height: 64px;
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: center;
}

#banner {
  height: 300px;
  justify-content: center;

}

.logo {
  float: left;
}

.todo {
  float: right;
}

.rupload {
  float: right;
}


.product-card {
  width: 200px;
  height: 300px;
  margin-right: 12px;
  margin-bottom: 12px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  overflow: hidden;
}


.product-img {
  width: 100%;
  height: 210px;
}

.product-contents {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.product-name { 
  font-size: 20px;
  color: pink;
  font-family: serif, cursive, sans-serif;
}

.product-price {
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
  font-family: serif, cursive, sans-serif;
}


.product-link {
  color: inherit;
  text-decoration: none;
} 