





<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link href = "static/css/main.css" type="text/css" rel="stylesheet">



{% include 'nav.html' %}

<div class="container">
    <h2>구매 내역서</h2>
    <br>
                    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>상품번호</th>
                <th>상품명</th>
            </tr>
        </thead>
        {% for x in db.datas %}       
        <tr>
            <td > {{x.bid}} </td>
            <td> {{x.pname}}</td>
        </tr>
        {% endfor %}
    </table>
    <button type="button" class="btn btn-outline-primary disabled">
        현재 남은 코인 <span class="badge badge-light">{{lcoin}} </span>
    </button>
</div>





